@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 43% 94%;
    --foreground: 231 48% 20%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 20%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 234 43% 88%;
    --secondary-foreground: 231 48% 20%;
    --muted: 234 43% 88%;
    --muted-foreground: 231 48% 40%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 234 43% 80%;
    --input: 0 0% 100%;
    --ring: 231 48% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 231 48% 12%;
    --sidebar-foreground: 234 43% 80%;
    --sidebar-primary: 234 43% 94%;
    --sidebar-primary-foreground: 231 48% 12%;
    --sidebar-accent: 231 48% 22%;
    --sidebar-accent-foreground: 234 43% 94%;
    --sidebar-border: 231 48% 22%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 231 48% 12%;
    --foreground: 234 43% 80%;
    --card: 231 48% 16%;
    --card-foreground: 234 43% 80%;
    --popover: 231 48% 12%;
    --popover-foreground: 234 43% 80%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 48% 22%;
    --secondary-foreground: 234 43% 94%;
    --muted: 231 48% 22%;
    --muted-foreground: 234 43% 60%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 22%;
    --input: 231 48% 22%;
    --ring: 231 48% 48%;
    --sidebar-background: 231 48% 12%;
    --sidebar-foreground: 234 43% 80%;
    --sidebar-primary: 234 43% 94%;
    --sidebar-primary-foreground: 231 48% 12%;
    --sidebar-accent: 231 48% 22%;
    --sidebar-accent-foreground: 234 43% 94%;
    --sidebar-border: 231 48% 22%;
    --sidebar-ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
